@mixin mobile {
  @media screen and (max-width: 750px) {
    @content;
  }
}

.container {
    position: fixed;
    z-index: 30;
    cursor: pointer;
    top: 150px;
    right: 50px;

    @include mobile {
      display: none;
    }

    img {
      width: 40px;
    }
  }