.container {
  background-color: rgba(#063b79, 0.35);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  color: #fff;
  padding: 20vh 50px;
  font-family: "SourceSansPro";

  .button {
    position: fixed;
    bottom: 18vh;
    left: 50%;
    cursor: pointer;
    border: solid 3px #fff;
    border-radius: 40px;
    padding: 15px 20px;
    width: 35%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;

    .textButton {
      font-size: 22px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 4vw;
  }

  .text {
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.2em;
    width: 72%;
  }
}

.hide {
    background-color: rgba(#063b79, 0.35);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    color: #fff;
    padding: 20vh 50px;
    font-family: "SourceSansPro";
    animation: hideHomeScreen 800ms ease-out forwards;
    .button {
      position: fixed;
      bottom: 18vh;
      left: 50%;
      cursor: pointer;
      border: solid 3px #fff;
      border-radius: 40px;
      padding: 15px 20px;
      width: 35%;
      text-align: center;
      left: 0;
      right: 0;
      margin: 0 auto;
  
      .textButton {
        font-size: 22px;
      }
    }
  
    .title {
      font-weight: 700;
      font-size: 4vw;
    }
  
    .text {
      font-weight: 400;
      font-size: 1.5vw;
      line-height: 1.2em;
      width: 72%;
    }
}

@keyframes hideHomeScreen {
  0% {
    opacity: 1;
    top:0vh;
  }

  100% {
    opacity: 0;
    top:-100vh;
  }
}
