.container {
    position: fixed;
    bottom: 30px;
    right: -20vw;
    width: 70vw;

    .card {
        background-color: #FFF;
        padding: 10px;
        border-radius: 10px;
        height: 145px;
        color: #000;
        display: flex!important;
        font-family: 'SourceSansPro';

        .image {
            width: 125px;
            height: 125px;
            border-radius: 10px;
        }
        .data {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            overflow: hidden;

            .plastique {
                color: #00BBAF;
                font-weight: 700;
                font-size: 12px;
            }

            .plage {
                color: #ED4F45;
                font-weight: 700;
                font-size: 12px;
            }

            .event {
                color: #FFAA3C;
                font-weight: 700;
                font-size: 12px;
            }

            .name {
                font-size: 16px;    
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .icon {
                height: 16px;
                margin-right: 5px;
            }

            .circle {
                background-color: #FFAA3C;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                margin-right: 5px;
            }
    
            .info, .location {
                display: flex;
                align-items: center;
                font-size: 13px;
            }

            .info {
                margin-top: 10px;
            }

            .location {
                margin-top: 30px;
            }
        }
    }
}